*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  border:solid 1px;
  height:100px;
  background-color:grey;
}

.col_6 .col_3 {
  padding:10px;
  background-color: #fcba03;
}

.col_6 .col_2 {
  padding:10px;
  background-color: #e82e09;
}
